*{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Alatsi', sans-serif;
  font-family: 'Jockey One', sans-serif;
  font-weight: normal;
}
body{
  height: 100vh;
  background: rgb(91,186,255);
  background: linear-gradient(180deg, rgba(91,186,255,1) 0%, rgba(66,104,230,1) 100%, rgba(91,186,255,1) 100%);
}
@media screen and (max-width: 361px){
  h1{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 3rem;
  }
  .do{
    background-color: #75C6FF;
    border-radius: 10px;
    font-size: 3rem;
    color: white;
    -webkit-box-shadow: 2px 2px 41px 0px rgba(0,0,0,0.47);
    -moz-box-shadow: 2px 2px 41px 0px rgba(0,0,0,0.47);
    box-shadow: 2px 2px 41px 0px rgba(0,0,0,0.47);
  }
  input{
    margin-top: 2rem;
    font-size: 1.2rem;
    height: 2.8rem;
    width: 38%;
    border-radius: 10px;
    background-color: #2E7BB3;
    color: white;
    -webkit-box-shadow: 2px 2px 41px 0px rgba(0,0,0,0.47);
    -moz-box-shadow: 2px 2px 41px 0px rgba(0,0,0,0.47);
    box-shadow: 2px 2px 41px 0px rgba(0,0,0,0.47);
  }
  .input::placeholder {
    color: white;
  }
  .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 1rem;
  }

  .add{
    width: 45%;
    font-size: 1.8rem;
    height: 3rem;
    border-radius: 15px;
    background-color: #75C6FF;
    color: white;
    margin-top: 2rem;
  }
  
   .container-list{
    display: flex;
    flex-direction: row;
    width: 80%;
    border-radius: 10px;
    background-color: #75C6FF;
    margin: 0 auto;
    margin-top: 3rem;
   }
   .container-list ul {
    margin: 0 auto;
    width: 90%;
   }
   .titulo{
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    gap: 0.4rem;
   }
   .lixo {
    background-color: #F36262;
    height: 2rem;
    width: 50%;
    border-radius: 10px;
   }
   .lixo i{
    font-size: 1.5rem;
   }
  .btns{
    height: 2rem;
    width: 50%;
    border-radius: 30px;
  }
  .item{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
    color: white;
  }
  .text{
    width: 70%;
    text-align: left;
  }
  .divbtn{
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
  }
}
@media screen and (min-width: 362px)and (max-width:1440px){
    h1{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 3rem;
  }
  .do{
    background-color: #75C6FF;
    border-radius: 10px;
    font-size: 3rem;
    color: white;
    -webkit-box-shadow: 2px 2px 41px 0px rgba(0,0,0,0.47);
    -moz-box-shadow: 2px 2px 41px 0px rgba(0,0,0,0.47);
    box-shadow: 2px 2px 41px 0px rgba(0,0,0,0.47);
  }
  input{
    margin-top: 2rem;
    font-size: 1.2rem;
    height: 2.8rem;
    width: 30%;
    border-radius: 10px;
    background-color: #2E7BB3;
    color: white;
    -webkit-box-shadow: 2px 2px 41px 0px rgba(0,0,0,0.47);
    -moz-box-shadow: 2px 2px 41px 0px rgba(0,0,0,0.47);
    box-shadow: 2px 2px 41px 0px rgba(0,0,0,0.47);
  }
  .input::placeholder {
    color: white;
  }
  .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    gap: 1rem;
  }

  .add{
    width: 28%;
    font-size: 1.8rem;
    height: 3rem;
    border-radius: 15px;
    background-color: #75C6FF;
    color: white;
    margin-top: 2rem;
  }
  
   .container-list{
    display: flex;
    flex-direction: row;
    width: 80%;
    border-radius: 10px;
    background-color: #75C6FF;
    margin: 0 auto;
    margin-top: 3rem;
   }
   .container-list ul {
    margin: 0 auto;
    width: 90%;
   }
   .titulo{
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    gap: 0.4rem;
   }
   .lixo {
    background-color: #F36262;
    height: 2rem;
    width: 50%;
    border-radius: 10px;
   }
   .lixo i{
    font-size: 1.5rem;
   }
  .btns{
    height: 2rem;
    width: 50%;
    border-radius: 30px;
  }
  .item{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
    color: white;
  }
  .text{
    width: 70%;
    text-align: left;
  }
  .divbtn{
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
  }
}
@media screen and (min-width:1441px)and (max-width: 1920px){
  h1{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 4.5rem;
  }
  .do{
    background-color: #75C6FF;
    border-radius: 10px;
    font-size: 4.5rem;
    color: white;
    -webkit-box-shadow: 2px 2px 41px 0px rgba(0,0,0,0.47);
    -moz-box-shadow: 2px 2px 41px 0px rgba(0,0,0,0.47);
    box-shadow: 2px 2px 41px 0px rgba(0,0,0,0.47);
  }
  input{
    margin-top: 2rem;
    font-size: 1.2rem;
    height: 2.8rem;
    width: 15%;
    border-radius: 10px;
    background-color: #2E7BB3;
    color: white;
    -webkit-box-shadow: 2px 2px 41px 0px rgba(0,0,0,0.47);
    -moz-box-shadow: 2px 2px 41px 0px rgba(0,0,0,0.47);
    box-shadow: 2px 2px 41px 0px rgba(0,0,0,0.47);
  }
  .input::placeholder {
    color: white;
  }
  .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    gap: 1rem;
  }

  .add{
    width: 20%;
    font-size: 1.8rem;
    height: 3rem;
    border-radius: 15px;
    background-color: #75C6FF;
    color: white;
    margin-top: 2rem;
    -webkit-box-shadow: 2px 2px 41px 0px rgba(0,0,0,0.47);
    -moz-box-shadow: 2px 2px 41px 0px rgba(0,0,0,0.47);
    box-shadow: 2px 2px 41px 0px rgba(0,0,0,0.47);
  }
  
   .container-list{
    display: flex;
    flex-direction: row;
    width: 50%;
    border-radius: 10px;
    background-color: #75C6FF;
    margin: 0 auto;
    margin-top: 3rem;
    -webkit-box-shadow: 2px 2px 41px 0px rgba(0,0,0,0.47);
    -moz-box-shadow: 2px 2px 41px 0px rgba(0,0,0,0.47);
    box-shadow: 2px 2px 41px 0px rgba(0,0,0,0.47);
   }
   .container-list ul {
    margin: 0 auto;
    width: 90%;
   }
   .titulo{
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    gap: 0.4rem;
   }
   .lixo {
    background-color: #F36262;
    height: 2rem;
    width: 50%;
    border-radius: 10px;
   }
   .lixo i{
    font-size: 1.5rem;
   }
  .btns{
    height: 2rem;
    width: 50%;
    border-radius: 30px;
  }
  .item{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
    color: white;
  }
  .text{
    width: 70%;
    text-align: left;
  }
  .divbtn{
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
  }
}